.list{
    list-style: none;
    padding: 0;
    width: 360px;
}
.tasks{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding:4px 16px;
    margin: 12px;
    box-shadow: 2px 2px 8px #c7c7c7;
    border-radius: 18px;
}
.tasks:hover{
    scale: 1.02;
}
